@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  background-color: var(--background-color);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  height: 100vh;
}

img {
  border-radius: 50%;
  width: 100px;
  margin-top: 20px;
}

hr {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 320px;
  height: 360px;
  border-radius: 10px;
  margin: 20px;
  gap: 25px;
}

.card .personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  height: 100%;
}

.card .numbers-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers-info .info .numbers,
.personal-info .name {
  color: rgb(37, 37, 37);
  font-weight: 700;
}

.card .personal-info .age,
.card .personal-info .city,
.number-type {
  color: var(--text-color);
  font-weight: 400;
}
